.profile-container {
    font-family: 'nanumsquare';
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .profile-header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  .profile-form h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form-group {
    display: flex; /* 수평 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 15px; /* 아래 여백 */
  }

  .form-group label {
    font-weight: bold;
    margin-right: 50px; /* 이름과 값 사이 간격 */
    width: 120px; /* 레이블 고정 너비 */
    text-align: left;
    font-size: 20px;
  }
  
  
  .form-group input,
  .form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group span {
    font-size: 20px;
    padding: 5px;
  }
  
  .email-group {
    display: flex;
    align-items: center;
  }
  
  .email-group span {
    margin: 0 5px;
  }
  
  .checkbox-group label {
    display: inline-block;
    margin-right: 10px;
  }

  fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 5px;
    
  }
  
  
  .button-group {
    display: flex;
    justify-content: space-around;
  }
  
  .submit-button,
  .delete-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #007bff;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  