/* 상단 탭*/
.mentor-board-header{
  position: relative;
}
/* 등록 버튼*/
.btn-mentor-board-write-div {
  position: absolute;
  right: 0px;
  font-size: 16px;
}


/* 정렬 버튼*/
.radio-container{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding-bottom: 10px;
  gap: 10px;
  font-size: 14px;
}
.radio-container input {
  cursor: pointer;
}


/* 멘토 컨텐츠 아이템 */
.mentor-board-list-main{
  width: 994px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}
.mentor-board-list-main .board-card {
  width: 480px;
}

/* 제목 스타일 */
.mentor-board-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0073e6; /* 파란색 텍스트 */
}

/* 내용 스타일 */
.mentor-board-content {
  font-size: 16px;
  color: #555; /* 어두운 회색 */
  margin-bottom: 15px; /* 아래 여백 */
  line-height: 1.5; /* 줄 간격 */
  word-wrap: break-word; /* 단어 줄 바꿈 */
}

/* 추가 설명 스타일 */
.mentor-board-meta {
  font-size: 14px;
  color: #888; /* 연한 회색 */
  display: flex;
  justify-content: space-between; /* 내용들을 양 끝으로 배치 */
  align-items: center; /* 세로로 가운데 정렬 */
}

.mentor-board-meta .mentor-board-category {
  color: #ff5252; /* 카테고리 강조 */
  font-weight: bold;
}

.mentor-board-meta .mentor-board-stats {
  font-size: 13px;
  color: #555; /* 어두운 회색 */
}

/* 작성자 및 날짜 */
.mentor-board-stats {
  display: flex;
  gap: 10px; /* 간격 추가 */
}

.edit-button,
.delete-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button:hover {
  background-color: #e53935;
}