.mentor-board-form-container {
  margin: 0px auto; /* 여백 */
  max-width: 1024px; /* 너비 제한 */
  padding: 20px; /* 내부 여백 */
  box-sizing: border-box; /* 전체 박스 크기를 포함하도록 설정 */
}

.mentor-board-form-container h1 {
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.form-title {
  text-align: center;  /* 제목을 가운데 정렬 */
  font-size: 2rem;     /* 제목 글자 크기 */
  font-weight: bold;   /* 제목 두껍게 */
  margin: 0px; /* 제목과 폼 간의 간격 */
  color: #333;         /* 제목 텍스트 색상 */
}

.field {
  font-size: 17px;
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.field input[type="text"],
.field textarea,
.field input[type="file"] {
  width: 100%; /* 부모 요소 크기에 맞춤 */
  padding: 10px; /* 내부 여백 */
  border: 1px solid #ddd; /* 테두리 */
  border-radius: 4px; /* 모서리 둥글게 */
  font-size: 16px;
  box-sizing: border-box; /* 박스 크기 설정 */
}

.field-title {
  background-color: #f5f6f8;
}

.field textarea {
  min-height: 300px;
  resize: none;
  white-space: pre-wrap; /* 자동 줄바꿈 활성화 */
  word-wrap: break-word; /* 단어 단위로 줄바꿈 */
  overflow-wrap: break-word; /* 긴 단어도 줄바꿈 */
}

.category {
  display: inline-block;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 16px;
  color: #555;
}

.button-group {
  display: flex;
  justify-content: right; /* 버튼을 가운데 정렬 */
  gap: 10px; /* 버튼들 사이의 간격을 설정 */
  margin-top: 20px; /* 버튼과 그 위 요소들 간의 간격 */
}

.board-submit-button,
.board-cancel-button {
  padding: 10px 15px;
  font-size: 14px; /* 글씨 크기 조정 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px; /* 버튼의 너비 고정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  transition: background-color 0.3s ease; /* 호버 효과를 부드럽게 처리 */
}

.board-submit-button {
  background-color: #28a745;
  color: white;
}
.board-submit-button:hover {
  background-color: #228c3b;
}

.board-delete-button {
  background-color: #b4b4b4; /* 빨간색 */
  color: white;
}
.board-delete-button:hover {
  background-color: #9d9d9d;
}

.board-cancel-button {
  background-color: #b4b4b4; /* 회색 */
  color: white;
}
.board-cancel-button:hover {
  background-color: #9d9d9d; /* 회색 */
  color: white;
}

/* 이미지 미리보기 */
.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 500px; /* 이미지 크기 제한 */
  object-fit: contain;
  border-radius: 8px;
}
