/* 사용자 정의 토스트 스타일 */
.Toastify__toast.custom-toast {
    background-color: #333 !important; /* 검정색 배경 */
    color: #fff !important; /* 흰색 텍스트 */
    font-size: 16px !important; /* 텍스트 크기 */
    border-radius: 10px !important; /* 테두리 둥글기 */
    padding: 15px !important; /* 안쪽 여백 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    font-family: "nanumsquare" !important;
    text-align: center !important;
}

/* 왼쪽 아이콘 완전히 숨기기 */
.Toastify__toast-icon {
    display: none !important;
}
